<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Project</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body style="background-color: rgb(226, 225, 225);">
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid" style="padding-left: 20px; height: 7vh;">
          <a class="navbar-brand" href="#"><img src="/public/assets/logo.png"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item" style="margin-left: 20px;">
                <a class="nav-link active" aria-current="page" href="/" style="font-family: 'Kanit', sans-serif;">Home</a>
              </li>
              <li class="nav-item" style="margin-left: 20px;">
                <a class="nav-link active" aria-current="page" href="/Blog" style="font-family: 'Kanit', sans-serif;">Blog</a> 
              </li>
            </ul>
            <form class="d-flex" style="justify-content: center;">
                 <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-right: 20px;">
              <li class="nav-item" style="margin-left: 20px;">
                <a class="nav-link active" aria-current="page" href="/login" style="font-family: 'Kanit', sans-serif;">Login</a>
              </li>
              <li class="nav-item" style="margin-left: 20px;">
                <a class="nav-link active" aria-current="page" href="/Register" style="font-family: 'Kanit', sans-serif;">Register</a> 
              </li>
            </ul>
                
              <button class="btn btn-outline-success" type="submit" style="border-radius: 10px; background-color: black;"><a href="/Contact" style="color: white; border: none; font-family: 'Kanit', sans-serif; text-decoration: none;">Contact Me</a></button>
            </form>
          </div>
        </div>
      </nav>


      <div class="container-form" style="height: 93vh;">
        <div class="main-form" style="margin: auto; margin-top: 50px; width: 600px; height: 700px;">
            <div class="Text">
                <h1 style="text-align: center; font-family: 'Kanit', sans-serif;">Edit Project</h1>
            </div>

  
            <form action="/myProject" method="post">
                <div class="mb-3">
                    <label style="font-family: 'Kanit', sans-serif;" for="exampleFormControlInput1" class="form-label">Project Name</label>
                    <input type="text" name="pm" class="form-control" id="exampleFormControlInput1">
                  </div>

                  <div class="row">
                    <div class="col">
                        <label for="startDate" style="font-family: 'Kanit', sans-serif;">Start Date</label>
                      <input type="date" name="startdate" class="form-control" placeholder="First name" aria-label="First name">
                    </div>
                    <div class="col">
                        <label for="endDate" style="font-family: 'Kanit', sans-serif;">End Date</label>
                      <input type="date" name="enddate" class="form-control" placeholder="Last name" aria-label="Last name">
                    </div>
                  </div>

                  <div class="mb-3" style=" margin-top: 20px; font-family: 'Kanit', sans-serif;">
                    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                    <textarea class="form-control" name="desc" id="exampleFormControlTextarea1" rows="3" style="resize: none;"></textarea>
                  </div>

                  <div class="containerChekBox" style="margin-bottom: 20px;">
                      <div class="labelTech" style="font-family: 'Kanit', sans-serif;">
                          <label for="">Technologies</label>
                      </div>

                      <div class="checkBox" style="display: flex; margin-top: 20px;">
                          <div class="leftSide">
                            <div class="form-check">
                                <input class="form-check-input" name="node" type="checkbox" value=true id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  Node JS
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" name="react" type="checkbox" value=true id="flexCheckChecked" checked>
                                <label class="form-check-label" for="flexCheckChecked">
                                  React JS
                                </label>
                              </div>
                          </div>
                          <div class="rightSide" style="margin-left: 20px;">
                            <div class="form-check">
                                <input class="form-check-input" name="next" type="checkbox" value=true id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  Next JS
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" name="type" type="checkbox" value=true id="flexCheckChecked" checked>
                                <label class="form-check-label" for="flexCheckChecked">
                                  TypeScript
                                </label>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="input-group">
                    <input type="file" name="image" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" style="width: 25%; border-radius: 10px 0 0 10px;">
                    <a href="" style="background-color: white; border-radius: 0 10px 10px 0;"><img src="/public/assets/file.png" alt="" style=""></a>
                  </div>

                  <div class="button" style="float: right;">
                    <button type="submit" class="btn btn-dark" style="font-family: 'Kanit', sans-serif; border-radius: 10px; margin-top: 20px;">Submit</button>
                  </div>
            </form>
        </div>
      </div>


      

</body>
<script src="form.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>